$fontSize: 14px;
$fontFamily: "Segoe UI", "Open Sans", Roboto, -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
$topMenuHeight: 35px;
$mobileMaxWidth: 800px;
$transition: 0.2s ease;
$sidebarWidth: 220px;
