// Ylilauta 2016 dark style
$bgColor: #111;
$sidebarColor: #292929;
$contentBgColor: #222;
$textColor: #eee;

$highlightColor: #60a0dc;
$red: #ba1f27;

$linkColor: $highlightColor;
$linkHoverColor: $red;

// >quote and <quote
$quoteColor: #789922;
$blueQuoteColor: #226199;

@import 'themes/default';
