@import 'lib/normalize';
@import 'lib/toastr';

$baseColor: #333c45;
$textColor: #222;
$threadTextColor: #333377;
$usernameColor: #117743;
$titleColor: $usernameColor;
$nsfwColor: #c31900;
$linkColor: #006632;
$linkHoverColor: $nsfwColor;

@import 'partials/mixins';

body {
    background: #eaeaec;
    font: 14px "Lato", sans-serif;
    color: $textColor;
    word-wrap: break-word;
}

img { max-width: 100% }

a {
    text-decoration: none;
    color: $linkColor;
}
a:hover { color: $linkHoverColor }
img { vertical-align: top }

.button {
    border: 0;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 0.85rem;

    &.gray {
        color: #000;
        background-color: #ccc;
        &:hover {
            background-color: #d5d5d5;
        }
    }
    &.green {
        color: #fff;
        background-color: #689800;
        &:hover {
            background-color: #72a500;
        }
    }
    &.transparent {
        padding: 5px 0;
        background-color: transparent;
    }
}


h1, h2, h3, h4 {
    margin: 0;
}

h1 {
    font-size: 2.5em;
    font-weight: 400;
}
h2 {
    font-size: 1.25em;
    font-weight: 400;
}
h3 {
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.5em;
    color: $titleColor;
    margin-bottom: 20px;
}
h4 {
    font-size: 1.25em;
    font-weight: 400;
    line-height: 1.5em;
    color: $titleColor;
    margin-bottom: 10px;
}

#content {
    margin-left: 240px;
    overflow: hidden;
    .page-header {
        background: lighten($baseColor, 5%) url('../img/header_bg.jpg') no-repeat 50% 50%;
        background-size: cover;
        padding: 80px 20px 20px 20px;
        color: #fff;
        box-shadow: 100px -100px 120px -100px #000 inset;
        text-shadow: 0 0 40px #000, 0 0 10px #000;
        a { color: #fff }
    }
    .error-image {
        margin-top: 60px;
        max-width: 100%;
    }
}

.content-box {
    padding: 40px 60px;
    background-color: #fff;
    margin: 20px;
    box-shadow: 0 0 10px 0 #ddd;

    p {
        line-height: 1.5em;
    }
}

@import 'partials/tags';
@import 'partials/sidebar';
@import 'partials/errorpage';
@import 'partials/frontpage';
@import 'partials/postform';
@import 'partials/threads';
@import 'partials/navigation';
