@import 'lib/normalize';

$baseColor: #58bbf9;
$textColor: #008;
$linkColor: complement($textColor);

body {
    background: lighten($baseColor, 30%);
    font: 16px "Open Sans", sans-serif;
    color: darken($baseColor, 30%);
}

img { max-width: 100% }

a {
    text-decoration: none;
    color: $linkColor;
}
a:hover { color: #800 }
a img { vertical-align: top }


#sidebar {
    $bgcolor: #36505f;
    float: left;
    width: 200px;
    min-height: 400px;
    padding: 10px 20px;
    overflow: hidden;
    font-size: 0.9em;
    background-color: $bgcolor;

    a {
        color: #eee;
        &:hover {
            color: lighten($bgcolor, 40%);
        }
    }

    #logo {
        $height: 80px;
        font-size: 1.5em;
        font-weight: 300;
        height: $height;
        line-height: $height;
        display: block;
        margin-bottom: 0.5em;
        img {
            height: $height;
            vertical-align: top;
            margin-right: 10px;
        }
    }
    nav {
        line-height: 1.75em;

        &:not(:first-of-type) {
            padding-top: 20px;
            margin-top: 20px;
            border-top: 1px solid lighten($bgcolor, 15%);
        }
        a { display: block }
        h3 {
            color: lighten($bgcolor, 40%);
            margin: 0 0 10px 0;
            font-size: 1.25em;
            font-weight: 300;
        }
    }
    #search {
        background-color: darken($bgcolor, 10%);
        overflow: hidden;
        margin-top: 10px;
        input {
            border: 0;
            float: left;
            vertical-align: middle;
            color: #fff;
        }
        #searchfield {
            width: calc(100% - 55px);
            height: 25px;
            padding: 5px 10px;
            background-color: transparent;
        }
        #searchbutton {
            width: 35px;
            height: 35px;
            cursor: pointer;
            background-color: darken($bgcolor, 5%);
        }
    }
    #user form {
        overflow: hidden;

        input[type="text"], input[type="password"] {
            background-color: darken($bgcolor, 10%);
            border: 0;
            color: #fff;
            margin-bottom: 5px;
            display: block;
            padding: 5px 10px;
            width: calc(100% - 20px);
        }
        a {
            float: right;
        }
    }
}

.button {
    border: 0;
    padding: 5px 20px;
    cursor: pointer;

    &.green {
        background-color: #689800;
        color: #fff;
    }
    &.transparent {
        padding: 5px 0;
    }
}

#content {
    overflow: hidden;
    .page-header {
        background: $baseColor url('../img/hoporider.jpg') no-repeat 50% 50%;
        background-size: cover;
        padding: 80px 20px 20px 20px;
        color: #fff;
        text-shadow: 0 0 10px #000;
        box-shadow: 0 -200px 200px -120px #000 inset;

        h1 {
            font-size: 2.5em;
            font-weight: 300;
            margin: 0;
        }
        h2 {
            font-size: 1.25em;
            font-weight: 300;
            margin: 0;
        }
    }
    .error-image {
        margin-top: 60px;
        max-width: 100%;
    }
}

body.error {
    background-color: #838383;
    #content {
        background: #58bbf9 url('../img/norpat.png') no-repeat 50% 100%;
        background-size: 100%;

        .page-header {
            text-align: center;
            box-shadow: none;
            text-shadow: none;
            background: none;
            color: #fff;
            padding: 40px 0 30% 0;
        }
    }
}
