// Ylilauta 2016 light style
$bgColor: #e2e2e2;
$sidebarColor: #333c45;
$contentBgColor: #fff;
$textColor: #222;

$highlightColor: #117743;
$highlightColor: #117743;
$red: #ba1f27;

$linkColor: $highlightColor;
$linkHoverColor: $red;

// >quote and <quote
$quoteColor: #789922;
$blueQuoteColor: #226199;

@import 'themes/default';
