.catalog {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5px;

    .thread-box {
        margin: 5px;
        background-color: $contentBgColor;
        width: 200px;
        height: 300px;
        overflow: hidden;
        display: inline-block;
        position: relative;
        flex-grow: 1;
        vertical-align: top;

        h3 {
            $height: 30px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            height: $height;
            line-height: $height;
            margin: 0;
            font-size: 1.1em;
            position: relative;

            $subjectBgColor: darken($contentBgColor, 5%);
            @if (lightness($contentBgColor) < 50) {
                $subjectBgColor: lighten($contentBgColor, 5%);
            }
            background-color: $subjectBgColor;

            .icon {
                display: inline-block;
                width: $height;
                height: $height;
                line-height: $height;
                background-color: $contentBgColor;
                color: $textColor;
                font-size: 20px;
                text-align: center;
                vertical-align: top;
            }

            .subject {
                padding: 0 10px
            }

            a {
                display: block;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }

            .notification-count {
                position: absolute;
                right: 0;
                min-width: $height;
                height: $height;
                padding: 0 5px;
                text-align: center;
                box-sizing: border-box;
                background-color: hsla(hue($highlightColor), saturation($highlightColor), lightness($highlightColor), 0.5);
                color: #fff;
            }
        }

        .post-buttons {
            text-align: right;
            $height: 25px;
            height: $height;
            padding: 3px;

            button {
                height: $height;
                width: $height;
                line-height: $height;
                cursor: pointer;
                font-size: 20px;
                vertical-align: middle;

                $bg: darken($contentBgColor, 5%);
                $hoverBg: darken($contentBgColor, 10%);
                $color: #111;
                @if (lightness($contentBgColor) < 50) {
                    $bg: lighten($contentBgColor, 5%);
                    $hoverBg: lighten($contentBgColor, 10%);
                    $color: #eee;
                }

                background-color: $bg;
                color: $color;
                &:hover {
                    background-color: $hoverBg;
                }
            }
        }

        .post {
            margin: 0 5px;
            font-size: 0.9em;

            .post-file {
                margin: 0 -5px 5px -5px;
                text-align: center;
                $bg: darken($contentBgColor, 5%);
                @if (lightness($contentBgColor) < 50) {
                    $bg: lighten($contentBgColor, 5%);
                }
                background-color: $bg;

                img {
                    max-height: 100px;
                }
            }

            pre {
                overflow: hidden;
            }
        }

        .thread-meta {
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            padding: 0 5px 5px 5px;
            background-color: $contentBgColor;
            font-size: 0.8em;
            $color: #777;
            color: $color;
            box-shadow: 0 0 10px 10px $contentBgColor;
        }
    }
}
