.pink {
    color: #ff1493;
}
.purple {
    color: purple;
}
.blue {
    color: #22b;
}
.green {
    color: #2b2;
}
.yellow {
    color: #ff0;
}
.orange {
    color: orange;
}
.red {
    color: #f22;
}
.brown {
    color: #a65329;
}
.white {
    color: #fff;
}
.gray {
    color: gray;
}
.black {
    color: #000;
}
