body.error {
    background-color: #838383;
    #content {
        background: #528ac9 url('../img/norpat.png') no-repeat 50% 100%;
        background-size: 100%;

        .page-header {
            text-align: center;
            box-shadow: none;
            text-shadow: none;
            background: none;
            color: #fff;
            padding: 40px 0 30% 0;

            h1, h2 { margin: 0 }
        }
    }
}
