#content > #post-form:not(.visible) {
    display: none;
}

#post-form {
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;

    &:not(.visible) #reset-button {
        display: none;
    }

    fieldset {
        max-width: 1000px;
        margin: auto;
        border: 0;
        padding: 0;

        .input-row {
            $height: 30px;

            $backgroundColor: #fff;
            @if (lightness($contentBgColor) < 50) {
                $backgroundColor: #000;
            }
            background-color: $backgroundColor;
            overflow: hidden;
            box-sizing: border-box;
            width: 100%;
            height: $height;
            margin-bottom: 5px;
            display: flex;

            label {
                &:not(#label-file) {
                    flex-grow: 1;
                }
                display: flex;
            }

            .label {
                background-color: $highlightColor;
                color: #ffffff;
                display: inline-block;
                min-width: 120px;
                overflow: hidden;
                padding: 4px 10px;
                box-sizing: border-box;
                height: 100%;

                span {
                    font-size: 0.65em;
                }
            }
            input, select {
                flex-grow: 1;
                padding-left: 5px;
                box-sizing: border-box;
                height: 100%;

                color: $textColor;
                background-color: transparent;
                $shadowColor: #aaa;
                @if (lightness($contentBgColor) < 50) {
                    $shadowColor: #555;
                }
                @include input-shadow($shadowColor);

                &[type="file"] {
                    line-height: $height - 8px;
                }
            }
        }
    }
    #message-input {
        $bg: #fff;
        $shadowColor: #aaa;
        @if (lightness($contentBgColor) < 50) {
            $bg: #000;
            $shadowColor: #555;
        }
        background-color: $bg;
        @include input-shadow($shadowColor);
        margin-bottom: 5px;
    }
    #format-toolbar {
        $bg: #f5f5f5;
        $border: #ccc;
        $hover: #ddd;
        @if (lightness($contentBgColor) < 50) {
            $bg: #111;
            $border: #333;
            $hover: #222;
        }
        background-color: $bg;
        @include input-shadow($border);
        a:hover { background-color: $hover }

        a {
            $size: 32px;
            display: inline-block;
            height: $size;
            width: $size;
            line-height: $size;
            font-size: 20px;
            text-align: center;
            vertical-align: top;
            cursor: pointer;
        }
    }
    textarea {
        color: $textColor;
        display: block;
        width: 100%;
        min-height: 70px;
        height: 200px;
        box-sizing: border-box;
        border: 0;
        background-color: transparent;
        padding: 3px 5px;
        resize: vertical;
    }
    #post-form-captcha {
        overflow: hidden;
        margin-bottom: 5px;
        > div {
            float: right;
        }
    }
    input[type="submit"] {
        float: right;
    }

    #label-file {
        position: relative;
        #post-files {
            opacity: 0;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 0.1px;
            overflow: hidden;
        }
        .button {
            font-size: $fontSize;
            padding: 4px 10px;
            text-align: center;
            box-sizing: border-box;
        }
    }
}

.file-progress {
    width: 100%;
    box-sizing: border-box;
    color: #eee;
    overflow: hidden;
    margin-top: -5px;
    margin-bottom: 5px;
    > div {
        width: 0;
        height: 0;
        background-color: $highlightColor;
        box-sizing: border-box;
        &.in-progress {
            height: 5px;
        }
    }
}

#post-options {
    display: none;
    margin-top: 20px;
    label {
        width: 50%;
        box-sizing: border-box;
    }
}
