#post-form {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    display: none;

    > label {
        background-color: #fff;
        border: 1px solid #ccc;
        overflow: hidden;
        box-sizing: border-box;
        width: 100%;
        display: flex;
        margin-bottom: 5px;
        > span {
            background-color: #528ac9;
            color: #fff;
            display: inline-block;
            min-width: 90px;
            overflow: hidden;
            padding: 4px 10px;
            span {
                font-size: 0.65em;
            }
        }
        input {
            color: $textColor;
            flex-grow: 1;
            border: 0;
            padding-left: 5px;
            box-sizing: border-box;
            background-color: transparent;
            @include input-shadow();
        }
    }
    #message-input {
        border: 1px solid #ccc;
        background-color: #fff;
        margin-bottom: 5px;
        @include input-shadow();
    }
    #format-toolbar {
        background-color: #f5f5f5;
        @include input-shadow();
        a {
            display: inline-block;
            height: 32px;
            width: 32px;
            vertical-align: top;
            cursor: pointer;
            &:hover {
                background-color: #ddd;
            }
        }
    }
    textarea {
        color: $textColor;
        display: block;
        width: 100%;
        min-height: 70px;
        height: 200px;
        box-sizing: border-box;
        border: 0;
        background-color: transparent;
        padding: 3px 5px;
        resize: vertical;
    }
    #postform-captcha {
        overflow: hidden;
        margin-bottom: 5px;
        > div {
            float: right;
        }
    }
    input[type="submit"] {
        float: right;
    }
    .button {
        font-size: 1rem;
    }
    #reset-button { display: none }
}

#post-progress {
    width: 100%;
    box-sizing: border-box;
    color: #eee;
    overflow: hidden;
    height: 5px;
    > div {
        width: 0;
        height: 5px;
        background-color: #528ac9;
        box-sizing: border-box;
    }
}

#post-options {
    display: none;
    margin-top: 20px;
    label {
        width: 50%;
        box-sizing: border-box;
    }
}
