// Sadly only Chrome seem to support this...
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {

    $bg: hsl(hue($highlightColor), saturation($highlightColor), lightness($sidebarColor)+10%);
    background: $bg;
    border-radius: 10px;

    &:hover {
        background: lighten($bg, 10%);
    }
    &:window-inactive {
        opacity: 0.5;
    }
}
