#sidebar {
    $bgcolor: $sidebarColor;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 190px;
    padding: 10px 15px;
    overflow: auto;
    font-size: 0.9em;
    background-color: $bgcolor;
    overflow-y: scroll;

    button.link, input.link {
        border: 0;
        padding: 0;
        background-color: transparent;
        cursor: pointer;
        color: #eeeeee;
        &:hover {
            @if (lightness($bgcolor) > 50) {
                color: darken($bgcolor, 40%);
            } @else {
                color: lighten($bgcolor, 40%);
            }
        }
    }
    a {
        color: $sidebarLinkColor;
        font-weight: normal;
        &:hover {
            @if (lightness($sidebarLinkColor) > 50) {
                color: darken($sidebarLinkColor, 30%);
            } @else {
                color: lighten($sidebarLinkColor, 30%);
            }
        }
    }

    #logo {
        $height: 80px;
        font-size: 1.5em;
        font-weight: 400;
        height: $height;
        line-height: $height;
        display: block;
        margin-bottom: 0.5em;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        img {
            height: 100%;
            vertical-align: top;
            margin-right: 10px;
        }
    }
    nav {
        line-height: 1.7em;

        &:not(:first-of-type) {
            padding-top: 20px;
            margin-top: 20px;
            $borderColor: darken($bgcolor, 15%);
            @if (lightness($bgcolor) < 50) {
                $borderColor: lighten($bgcolor, 15%);
            }
            border-top: 1px solid $borderColor;
        }
        a {
            display: block
        }
        h3 {
            @if (lightness($bgcolor) > 50) {
                color: darken($bgcolor, 40%);
            } @else {
                color: lighten($bgcolor, 40%);
            }
            margin: 0 0 10px 0;
            font-size: 1.25em;
            font-weight: 400;
        }
    }
    $buttonBg: darken($sidebarColor, 5%);
    $buttonHoverBg: darken($sidebarColor, 10%);
    $buttonColor: #111111;
    @if (lightness($sidebarColor) < 50) {
        $buttonBg: lighten($sidebarColor, 5%);
        $buttonHoverBg: lighten($sidebarColor, 10%);
        $buttonColor: #eeeeee;
    }
    #search {
        @if (lightness($sidebarColor) > 50) {
            background-color: lighten($sidebarColor, 10%);
        } @else {
            background-color: darken($sidebarColor, 10%);
        }
        overflow: hidden;
        margin-top: 10px;
        input {
            border: 0;
            float: left;
            vertical-align: middle;
            color: #ffffff;
        }
        #searchfield {
            width: calc(100% - 55px);
            height: 25px;
            padding: 5px 10px;
            background-color: transparent;
        }
        #searchbutton {
            width: 35px;
            height: 35px;
            cursor: pointer;
            border: 0;
            font-size: 20px;
            background-color: $buttonBg;
            color: $buttonColor;
            &:hover {
                background-color: $buttonHoverBg;
            }
        }
    }
    .buttons {
        overflow: hidden;
        margin-top: 5px;

        button, a {
            background-color: $buttonBg;
            color: $buttonColor;
            &:hover {
                background-color: $buttonHoverBg !important;
            }
        }
        > * {
            position: relative;
            display: inline-block;
            vertical-align: top;
            float: left;
            margin: 0 5px 5px 0;
        }
        + a {
            margin-top: 10px;
        }
    }
    #user form {
        overflow: hidden;

        input[type="text"], input[type="password"] {
            @if (lightness($bgcolor) > 50) {
                background-color: lighten($bgcolor, 10%);
                color: #000000;
            } @else {
                background-color: darken($bgcolor, 10%);
                color: #ffffff;
            }
            border: 0;
            margin-bottom: 5px;
            display: block;
            padding: 5px 10px;
            width: calc(100% - 20px);
        }
        > button {
            float: right;
        }
        #signup-form {
            display: none;

            #signup-captcha {
                background-color: #222222;
                margin-bottom: 5px;
                overflow: hidden;
                > div {
                    height: 136px !important;
                    width: 155px !important;
                    margin: -2px auto 5px -2px;
                    overflow: hidden;
                }
            }
        }
    }

    .unread-count {
        display: inline-block;
        vertical-align: bottom;
    }
    .button .unread-count {
        position: absolute;
        top: 2px;
        right: 2px;
    }

    #sidebar-hide-button {
        font-family: icomoon;
        cursor: pointer;
        background-color: transparent;
        border: 0;
        color: darken($sidebarLinkColor, 20%);
        top: 50%;
        position: absolute;
        left: 0;
        display: block;
        font-size: 10px;
        width: 11px;
        height: 20px;
        text-align: center;
        overflow: hidden;
        box-sizing: border-box;
        padding: 5px 1px 5px 0;
        transform: translateY(-50%);
        &:hover {
            background-color: $buttonBg;
        }
        &:before {
            content: "\e93b";
        }
    }
    &.visible #sidebar-hide-button:before {
        content: "\e93c";
    }
}
