#sidebar {
    $bgcolor: $baseColor;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    min-height: 400px;
    padding: 10px 20px;
    overflow: auto;
    font-size: 0.9em;
    background-color: $bgcolor;

    button.link, input.link {
        border: 0;
        padding: 0;
        background-color: transparent;
        cursor: pointer;
        color: #eee;
        &:hover {
            color: lighten($bgcolor, 40%);
        }
    }
    a {
        color: #eee;
        font-weight: normal;
        &:hover {
            color: lighten($bgcolor, 40%);
        }
    }

    #logo {
        $height: 80px;
        font-size: 1.5em;
        font-weight: 400;
        height: $height;
        line-height: $height;
        display: block;
        margin-bottom: 0.5em;
        img {
            height: $height;
            vertical-align: top;
            margin-right: 10px;
        }
    }
    nav {
        line-height: 1.7em;

        &:not(:first-of-type) {
            padding-top: 20px;
            margin-top: 20px;
            border-top: 1px solid lighten($bgcolor, 15%);
        }
        a { display: block }
        h3 {
            color: lighten($bgcolor, 40%);
            margin: 0 0 10px 0;
            font-size: 1.25em;
            font-weight: 400;
        }
    }
    #search {
        background-color: darken($bgcolor, 10%);
        overflow: hidden;
        margin-top: 10px;
        input {
            border: 0;
            float: left;
            vertical-align: middle;
            color: #fff;
        }
        #searchfield {
            width: calc(100% - 55px);
            height: 25px;
            padding: 5px 10px;
            background-color: transparent;
        }
        #searchbutton {
            width: 35px;
            height: 35px;
            cursor: pointer;
            background-color: darken($bgcolor, 5%);
        }
    }
    #user form {
        overflow: hidden;

        input[type="text"], input[type="password"] {
            background-color: darken($bgcolor, 10%);
            border: 0;
            color: #fff;
            margin-bottom: 5px;
            display: block;
            padding: 5px 10px;
            width: calc(100% - 20px);
        }
        button.transparent {
            float: right;
        }
        #signupform {
            display: none;

            .g-recaptcha {
                background-color: #222;
                margin-bottom: 5px;
                overflow: hidden;
                > div {
                    height: 136px;
                    margin: -2px auto 5px -2px;
                    overflow: hidden;
                    width: 155px;
                }
            }
        }
    }
}
