.text-tag {
    font-size: 0.7rem;
    padding: 0 5px;
    line-height: 1.3em;
    border-radius: 20px;
    display: inline-block;

    &.nsfw {
        color: $red;
        font-size: 0.6rem;
        vertical-align: top;
    }
    &.op {
        background-color: $green;
        color: #fff;
    }
}
