.thread {
    .underline {
        text-decoration: underline;
    }
    .line-through {
        text-decoration: line-through;
    }
    .spoiler {
        $color: #000000;
        @if (lightness($contentBgColor) < 20) {
            $color: #cccccc;
        }
        background-color: $color;
        color: $color;
        padding: 0 5px;
        border-radius: 2px;
        display: inline-block;
        vertical-align: top;
        overflow: hidden;
        .quote, a {
            color: $color;
        }
        &:hover {
            color: invert($color);
            .quote, a {
                color: invert($color);
            }
        }
    }
    .big {
        font-size: 1.25rem;
    }
    .small {
        font-size: 0.65rem;
    }
}

pre br {
    display: none;
}

.black {
    color: #000;
}
.gray {
    color: gray;
}
.white {
    color: #fff;
}
.brown {
    color: #a65329;
}
.red {
    color: #f22;
}
.orange {
    color: orange;
}
.yellow {
    color: #ff0;
}
.green {
    color: #2b2;
}
.blue {
    color: #22b;
}
.purple {
    color: purple;
}
.pink {
    color: #ff1493;
}
