.thread {
    padding: 0;
    overflow: hidden;
    padding-bottom: 10px;
    color: $threadTextColor;

    h3 {
        margin-bottom: 0;
        font-size: 1.5em;
        font-weight: 400;
        padding: 5px 10px;
        background-color: #528ac9;
        color: #fff;
        a {
            color: #fff;
            display: block;
        }
    }

    .replies {
        margin: 0 10px;
    }

    .reply {
        background-color: #e7f3ff;
        &:not(:first-of-type) {
            margin-top: 10px;
        }
    }

    .post {
        padding: 10px;
        margin: 0;
        overflow: hidden;
    }

    .post-meta {
        padding: 0 10px 20px 10px;

        .user-info, .post-info {
            display: block;
        }
        .username {
            color: #117743;
            font-weight: 600;
        }
        .post-id {
            color: $threadTextColor;
            &:hover { color: $linkHoverColor }
        }
        .post-time {
            margin-left: 10px;
        }
    }

    .post-file {
        float: left;
        margin: 0 20px 0 0;
        max-width: 100%;
        box-sizing: border-box;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        background-color: rgba(0,0,0,0.05);
        &.thumbnail {
            max-width: 240px;
        }
        figcaption {
            padding: 3px;
            opacity: 0.6;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 0.8em;
            line-height: 1.3em;
            span {
                display: block
            }
        }
        &:hover figcaption {
            opacity: 1;
        }
    }
}
