.thread {
    padding: 0;
    overflow: hidden;
    color: $textColor;
    margin: 20px 10px 20px 10px;

    .tooltipster-box {
        background: #f5f5f5;
        .post-buttons {
            display: none;
        }
    }

    #post-form {
        margin: 20px 0;
        padding: 10px;
        background-color: #f5f5f5;
        #label-subject, h3 { display: none }
    }

    h3 {
        margin-bottom: 0;
        font-size: 1.5em;
        font-weight: 400;
        padding: 3px 10px;
        background-color: #f5f5f5;

        a {
            display: block;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }

    .thread-content {
        padding: 5px 10px 10px 10px;
    }

    .thread-meta {
        font-size: 0.85em;
        color: #555;
        margin: 0 0 5px 0;
    }

    .replies {
        padding: 10px 0 0 10px;
        border-left: 1px solid #ccc;
    }

    .reply {
        &:not(:first-of-type) {
            margin-top: 10px;
            padding-top: 5px;
            border-top: 1px solid #ccc;
        }
        overflow: hidden;
    }

    .post {
        margin: 5px 0 10px 0;
        overflow: hidden;
    }

    .post-meta {
        color: lighten($textColor, 40%);
        .user-info, .post-info {
            display: inline;
        }
        .post-info {
            margin-left: 5px;
            font-size: 0.85em;
        }
        .username {
            color: $green;
            font-weight: 600;
        }
        .post-id {
            color: lighten($textColor, 40%);
            &:hover { color: $linkHoverColor }
        }
        .post-time {
            margin-left: 5px;
        }
    }

    .post-file {
        float: left;
        margin: 0 20px 0 0;
        max-width: 100%;
        min-width: 100px;
        min-height: 60px;
        text-align: center;
        box-sizing: border-box;
        white-space: nowrap;
        overflow: hidden;
        background-color: rgba(0,0,0,0.05);
        position: relative;


        .overlay {
            position: absolute;
            max-width: 100%;
            max-height: 100%;
            color: #fff;
            background-color: rgba(0,0,0,0.7);

            &.center {
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
                font-size: 32px;
                padding: 10px;
            }
        }

        &.thumbnail {
            max-width: 240px;
            figcaption {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                display: none;
            }
            &:hover figcaption {
                display: block;
            }
        }
        figcaption {
            text-align: left;
            padding: 3px;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 0.8em;
            line-height: 1.3em;
            background-color: #eee;
            span {
                display: block
            }
        }
    }

    .post-buttons {
        font-size: 0.9em;
        > a {
            color: $linkColor;
            cursor: pointer;
            opacity: 0.5;
            &:not(:first-of-type) { margin-left: 10px }
            &:hover { opacity: 1 }
        }
    }

    .post-buttons {
        float: right;
        text-align: right;
        a, nav {
            display: inline;
        }
        .options-menu {
            white-space: nowrap;
            div {
                text-align: left;
                display: none;
                background-color: #f1f1f1;

                a {
                    display: block;
                    padding: 5px 10px;
                }
            }
        }
    }

    .thread-buttons {
        margin: 10px 0 0 0;
        > a {
            &:not(:first-of-type) {
                margin-left: 10px
            }
        }
    }

    .quote {
        color: #789922;
        &.blue {
            color: #226199;
        }
    }
}
