.thread {
    padding: 0;
    overflow: hidden;
    color: $threadTextColor;

    h3 {
        margin-bottom: 0;
        font-size: 1.3em;
        font-weight: 400;
        padding: 3px 10px;
        background-color: #f5f5f5;
        a {
            display: block;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }

    .thread-content {
        padding: 5px 10px 10px 10px;
    }

    .thread-meta {
        font-size: 0.85em;
        color: #555;
        margin: 0 0 5px 0;
    }

    .replies {
        padding: 10px 0 10px 10px;
        border-left: 2px solid #ccc;
    }

    .reply {
        &:not(:first-of-type) {
            margin-top: 10px;
            padding-top: 5px;
            border-top: 2px solid #ccc;
        }
        overflow: hidden;
    }

    .post {
        margin: 5px 0;
        overflow: hidden;
    }

    .post-meta {
        .user-info, .post-info {
            display: inline;
        }
        .post-info {
            margin-left: 5px;
            font-size: 0.85em;
        }
        .username {
            color: $usernameColor;
            font-weight: 600;
        }
        .post-id {
            color: $threadTextColor;
            &:hover { color: $linkHoverColor }
        }
        .post-time {
            margin-left: 5px;
        }
    }

    .post-file {
        float: left;
        margin: 0 20px 0 0;
        max-width: 100%;
        box-sizing: border-box;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        background-color: rgba(0,0,0,0.05);
        position: relative;
        &.thumbnail {
            max-width: 240px;
            img {
                min-width: 120px;
                min-height: 60px;
            }
        }
        figcaption {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 3px;
            display: none;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 0.8em;
            line-height: 1.3em;
            background-color: #eee;
            span {
                display: block
            }
        }
        &:hover figcaption {
            display: block;
        }
    }

    .post-buttons, .thread-buttons {
        font-size: 0.9em;
        a {
            opacity: 0.6;
            &:hover { opacity: 1 }
            &:not(:first-of-type) { margin-left: 10px }
        }
    }

    .post-buttons {
        float: right;
    }

    .thread-buttons {
        margin: 10px 0 0 0;
    }
}
