.thread {
    padding: 0;
    overflow: hidden;
    color: $textColor;

    $borderColor: darken($contentBgColor, 10%);
    @if (lightness($contentBgColor) < 50) {
        $borderColor: lighten($contentBgColor, 10%);
    }

    &:not(.tooltipster-base) {
        margin: 20px 10px 20px 10px;
    }

    &:not(.expanded) {
        .less-replies {
            display: none;
        }
    }
    &.expanded {
        .more-replies {
            display: none
        }
    }

    .tooltipster-box {
        padding: 0;
        @if (lightness($contentBgColor) > 50) {
            background-color: darken($contentBgColor, 5%);
        } @else {
            background-color: lighten($contentBgColor, 5%);
        }
        .post-buttons {
            display: none;
        }
    }

    #post-form {
        margin: 10px 0 0 0;
        padding: 0;
    }

    > h3 {
        text-align: left;
        $height: 35px;
        margin-bottom: 0;
        font-weight: 400;
        height: $height;
        line-height: $height;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        position: relative;

        $subjectBgColor: darken($contentBgColor, 5%);
        @if (lightness($contentBgColor) < 50) {
            $subjectBgColor: lighten($contentBgColor, 5%);
        }
        background-color: $subjectBgColor;

        .icon {
            display: inline-block;
            width: $height;
            height: $height;
            line-height: $height;
            background-color: $contentBgColor;
            color: $textColor;
            text-align: center;
        }

        .subject {
            padding: 0 10px
        }

        .notification-count {
            position: absolute;
            right: 0;
            min-width: $height;
            height: $height;
            padding: 0 5px;
            text-align: center;
            box-sizing: border-box;
            background-color: hsla(hue($highlightColor), saturation($highlightColor), lightness($highlightColor), 0.5);
            color: #fff;
        }

        a {
            display: block;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }

    .thread-content {
        padding: 5px 10px 10px 10px;
        #post-form {
            #label-subject, h3 {
                display: none
            }
        }
    }

    .thread-meta {
        font-size: 0.85em;
        @if (lightness($textColor) > 50) {
            color: darken($textColor, 40%);
        } @else {
            color: lighten($textColor, 40%);
        }
        margin: 5px 0;
    }

    .replies {
        padding: 0 10px;
        //border-left: 2px solid $borderColor;

        $bg: darken($contentBgColor, 2%);
        @if (lightness($contentBgColor) < 50) {
            $bg: lighten($contentBgColor, 2%);
        }
        background-color: $bg;

        hr {
            border: 0;
            $color: #000;
            @if (lightness($contentBgColor) < 50) {
                $color: #ffffff;
            }
            border-top: 1px solid $color;
            margin: 10px 0;
        }
    }

    .replies-buttons {
        line-height: 3em;
    }

    &:not(.tooltipster-base) .reply {
        padding: 5px 0;
        $borderColor: darken($contentBgColor, 10%);
        @if (lightness($contentBgColor) < 50) {
            $borderColor: lighten($contentBgColor, 10%);
        }
        border-top: 2px solid $borderColor;
    }
    .reply {
        overflow: hidden;
    }

    &:not(.tooltipster-base) .post {
        &:not(.op-post) {
            &.highlighted,
            &.own-post {
                margin-left: -5px;
                margin-right: -5px;
                padding: 5px;
            }
        }
        &.own-post:not(.op-post):not(.highlighted) {
            $bgColor: darken($contentBgColor, 7%);
            @if (lightness($contentBgColor) < 50) {
                $bgColor: lighten($contentBgColor, 7%);
            }
            background-color: $bgColor;
        }
        &.highlighted {
            $bgColor: $contentBgColor;
            @if (lightness($contentBgColor) > 95) {
                $bgColor: hsl(hue($highlightColor), saturation($highlightColor), lightness($contentBgColor) - 3%);
            } @else if (lightness($contentBgColor) < 5) {
                $bgColor: hsl(hue($highlightColor), saturation($highlightColor), lightness($contentBgColor) + 3%);
            } @else if (lightness($contentBgColor) < 15) {
                $bgColor: hsl(hue($highlightColor), saturation($highlightColor), lightness($contentBgColor) - 2%);
            } @else {
                $bgColor: hsl(hue($highlightColor), saturation($highlightColor), lightness($contentBgColor));
            }
            background-color: $bgColor;
        }
    }

    .message {
        margin: 5px 0 10px 0;
        overflow: hidden;
        word-wrap: break-word;
        &:not(.full) {
            max-height: 500px;
            overflow: auto;
        }
    }

    $postMetaHeight: 30px;
    .post-meta {
        min-height: $postMetaHeight;
        @if (lightness($textColor) > 50) {
            color: darken($textColor, 40%);
        } @else {
            color: lighten($textColor, 40%);
        }
        .user-info {
        }
        .user-info, .post-info {
            display: inline-block;
            overflow: hidden;
        }
        .post-info {
            font-size: 0.85em;
            > * {
                margin-left: 5px;
            }
        }
        .username {
            color: $highlightColor;
            font-weight: 600;
        }
        .post-id {
            white-space: nowrap;
            @if (lightness($textColor) > 50) {
                color: darken($textColor, 40%);
            } @else {
                color: lighten($textColor, 40%);
            }
            &:hover {
                color: $linkHoverColor
            }
        }
    }

    .post-buttons {
        float: right;
        text-align: right;
        button {
            height: $postMetaHeight;
            width: $postMetaHeight;
            line-height: $postMetaHeight;
            cursor: pointer;
            font-size: 20px;
            vertical-align: middle;

            $bg: darken($contentBgColor, 5%);
            $hoverBg: darken($contentBgColor, 10%);
            $color: #111111;
            @if (lightness($contentBgColor) < 50) {
                $bg: lighten($contentBgColor, 5%);
                $hoverBg: lighten($contentBgColor, 10%);
                $color: #eeeeee;
            }

            background-color: $bg;
            color: $color;
            &:hover {
                background-color: $hoverBg;
            }
        }
        .icon-bookmark-remove {
            color: $highlightColor;
        }
    }

    .post-file {
        float: left;
        margin: 0 20px 5px 0;
        max-width: 100%;
        min-width: 100px;
        min-height: 60px;
        text-align: center;
        box-sizing: border-box;
        white-space: nowrap;
        overflow: hidden;
        @if (lightness($contentBgColor) > 50) {
            background-color: rgba(0, 0, 0, 0.04);
        } @else {
            background-color: rgba(255, 255, 255, 0.04);
        }

        > a {
            position: relative;
            display: block;

            .overlay {
                position: absolute;
                max-width: 100%;
                max-height: 100%;
                color: #ffffff;
                background-color: rgba(0, 0, 0, 0.7);

                &.center {
                    left: 50%;
                    top: 50%;
                    transform: translateX(-50%) translateY(-50%);
                    font-size: 32px;
                    padding: 10px;
                }
                &.bottom {
                    bottom: 0;
                    font-size: 20px;
                    padding: 5px;
                    &.right {
                        right: 0;
                    }
                    &.left {
                        left: 0;
                    }
                }
            }
        }

        .no-thumbnail {
            display: block;
            font-size: 100px;
            padding: 20px;
            background-color: #ddd;
            color: #444;
        }
        &:not(.media-player-container) .stop-media {
            display: none;
        }
        &.media-player-container {
            > a {
                display: none;
            }
            .stop-media {
                display: block;
            }
        }
        video {
            max-width: 100%;
            min-width: 240px;
        }
        &.thumbnail {
            max-width: 240px;
        }
        figcaption {
            text-align: left;
            padding: 3px;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 0.8em;
            line-height: 1.3em;
            span {
                display: block
            }
        }
    }

    .post-replies {
        font-size: 0.8em;
        $color: #777777;
        padding-top: 3px;
        border-top: 1px solid $borderColor;
        @if (lightness($contentBgColor) < 50) {
            $color: #999999;
        }
        color: $color;
    }

    .thread-buttons {
        margin: 10px 0 0 0;
        button {
            &:not(:first-of-type) {
                margin-left: 10px
            }
        }
    }

    .quote {
        color: $quoteColor;
        &.blue {
            color: $blueQuoteColor;
        }
    }
}

.mod-menu-html {
    display: none;

    p {
        margin: 0 0 5px 0;
    }
}
