@import '../config/variables';

$tooltipBorderColor: #ccc;
@if (lightness($contentBgColor) < 50) {
    $tooltipBorderColor: #444;
}

@import '../lib/normalize';
@import '../lib/icomoon';
@import '../lib/toastr';
@import '../lib/tooltipster';

$sidebarBorderColor: darken($sidebarColor, 15%);
@if (lightness($sidebarColor) < 50) {
    $sidebarBorderColor: lighten($sidebarColor, 15%);
}

$sidebarLinkColor: #eeeeee;
@if (lightness($sidebarColor) > 50) {
    $sidebarLinkColor: #111111;
}

@mixin columns($width, $gap) {
    columns: $width;
    -moz-columns: $width;
    -webkit-columns: $width;
    column-gap: $gap;
    -moz-column-gap: $gap;
    -webkit-column-gap: $gap;
}

@mixin input-shadow($color: #dddddd) {
    border: 1px solid rgba($color, 0.5);
    box-shadow: 0 1px 5px -1px $color inset;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

span.loading {
    font-size: 20px;
    color: $highlightColor;
}

@import '../partials/scrollbar';
@import '../partials/content';
@import '../partials/tags';
@import '../partials/topbar';
@import '../partials/sidebar';
@import '../partials/header';
@import '../partials/page-error';
@import '../partials/page-front';
@import '../partials/page-profile';
@import '../partials/post-form';
@import '../partials/threads';
@import '../partials/catalog';
@import '../partials/navigation';
@import '../partials/text-formatting';
@import '../partials/modal-box';
@import '../partials/notifications';
@import '../partials/reports';
@import '../partials/mobile';
