@import '../lib/normalize';
@import '../lib/icomoon';
@import '../lib/toastr';
@import '../lib/tooltipster';


$sidebarBorderColor: darken($sidebarColor, 15%);
@if (lightness($sidebarColor) < 50) {
    $sidebarBorderColor: lighten($sidebarColor, 15%);
}

$sidebarLinkColor: #eee;
@if (lightness($sidebarColor) > 50) {
    $sidebarLinkColor: #111;
}

@mixin columns($width, $gap) {
    columns: $width;
    -moz-columns: $width;
    -webkit-columns: $width;
    column-gap: $gap;
    -moz-column-gap: $gap;
    -webkit-column-gap: $gap;
}

@mixin input-shadow($color: #ddd) {
    box-shadow: 0 1px 4px $color inset;
}

#mobile-menu {
    display: none;
}

@import '../partials/content';
@import '../partials/header';
@import '../partials/tags';
@import '../partials/sidebar';
@import '../partials/page-error';
@import '../partials/page-front';
@import '../partials/page-profile';
@import '../partials/post-form';
@import '../partials/threads';
@import '../partials/catalog';
@import '../partials/navigation';
@import '../partials/text-formatting';
@import '../partials/mobile';
