body.modal-open {
    overflow: hidden;
}

#modal-root {
    position: fixed;
    z-index: 10000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    overflow: auto;

    .modal {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        z-index: 2;
        box-sizing: border-box;
        min-height: 200px;
        min-width: 300px;
        background: $contentBgColor;
        color: $textColor;
        box-shadow: 0 0 20px -5px black;
        border: 5px solid $sidebarColor;
        overflow: auto;
        max-height: 100%;

        @media (max-width: 499px) {
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            position: absolute;
        }

        &:not(:last-of-type) {
            display: none;
        }

        .title {
            position: sticky;
            top: 0;
            z-index: 10;
            flex: 0 0 auto;
            width: 100%;
            background-color: $contentBgColor;
            display: flex;
            font-size: 1.25em;
            color: $highlightColor;
            span {
                padding: 5px 10px;
            }
        }

        .close {
            flex: 0 0 auto;
            margin-left: auto;
            cursor: pointer;
            width: 40px;
            border: 0;
            background: none;
            &:focus {
                outline: 0;
            }
            &:hover {
                color: #fff;
                background-color: $red;
            }
            &:active {
                color: #fff;
                background-color: lighten($red, 10%);
            }
        }

        .content {
            flex: 1;
            width: 100%;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            padding: 10px;
            .loading {
                margin: auto;
                font-size: 40px;
            }
        }

        .buttons {
            position: sticky;
            bottom: 0;
            background-color: $contentBgColor;
            margin-top: auto;
            padding: 10px 0;
        }
    }

}
