.board-navigation {
    $linkSize: 28px;
    line-height: $linkSize;
    font-size: 1rem;
    overflow: hidden;
    margin: 40px 20px;

    $color: darken($bgColor, 30%);
    @if (lightness($bgColor) < 50) {
        $color: lighten($bgColor, 30%);
    }
    color: $color;
    transition: color $transition;

    .breadcrumb {
        float: left;

        a, div {
            display: inline;
        }
    }

    .pagination {
        float: right;

        a {
            display: inline-block;
            width: $linkSize;
            height: $linkSize;
            line-height: $linkSize;
            text-align: center;
            box-sizing: border-box;
            vertical-align: top;
        }

        .cur {
            background-color: $linkColor;
            border-radius: $linkSize;
            transition: background-color $transition;
            color: #fff;
            font-size: 0.9em;
            vertical-align: top;
        }

        .chevron {
            font-size: 20px;
            line-height: $linkSize;
        }

        .display-styles {
            border-left: 1px dotted $color;
            padding-left: 10px;
            display: inline-block;

            a {
                font-size: 20px;
            }
        }
    }
}
