.catalog {
    .report {
        padding: 10px;
        width: 260px !important;
        height: auto;

        h4 {
            margin: 0;
        }
        p {
            margin: 0;
        }

        .report-info {
            overflow: hidden;

            p {
                .title {
                    display: inline-block;
                    width: 120px;
                    font-weight: bold;
                }
            }
        }

        .buttons {
            clear: both;
            margin-top: 5px;
            button {
                margin: 0 5px 5px 0;
            }
        }
    }
}
