body.no-sidebar #sidebar {
    z-index: 999;
    display: none;
}

body.sidebar-visible #sidebar {
    display: block;
}

@media (min-width: 800px) {
    body:not(.no-sidebar) {
        margin-left: $sidebarWidth;
    }
}
@media (min-width: 600px) {
    body.sidebar-visible {
        margin-left: $sidebarWidth;
    }
}

#sidebar {
    $bgcolor: $sidebarColor;
    width: $sidebarWidth;
    padding: 10px;
    box-sizing: border-box;
    overflow: auto;
    font-size: 0.9em;
    background-color: $bgcolor;
    transition: background-color $transition;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    backface-visibility: hidden;

    button.link, input.link {
        border: 0;
        padding: 0;
        background-color: transparent;
        cursor: pointer;
        color: #eeeeee;
        &:hover {
            @if (lightness($bgcolor) > 50) {
                color: darken($bgcolor, 40%);
            } @else {
                color: lighten($bgcolor, 40%);
            }
        }
    }
    a {
        color: $sidebarLinkColor;
        font-weight: normal;
        &:hover {
            color: $highlightColorLight;
        }
    }

    #logo {
        $height: 80px;
        font-size: 1.5em;
        font-weight: 400;
        height: $height;
        line-height: $height;
        display: block;
        text-overflow: ellipsis;
        white-space: nowrap;

        img {
            height: 100%;
            vertical-align: top;
            margin-right: 10px;
        }
    }
    nav {
        line-height: 1.7em;

        &:not(:first-of-type) {
            padding-top: 20px;
            margin-top: 20px;
            $borderColor: darken($bgcolor, 15%);
            @if (lightness($bgcolor) < 50) {
                $borderColor: lighten($bgcolor, 15%);
            }
            border-top: 1px solid $borderColor;
        }
        a {
            display: block
        }
        h3 {
            @if (lightness($bgcolor) > 50) {
                color: darken($bgcolor, 40%);
            } @else {
                color: lighten($bgcolor, 40%);
            }
            margin: 0 0 10px 0;
            font-size: 1.25em;
            font-weight: 400;
        }
    }
    $buttonBg: darken($sidebarColor, 5%);
    $buttonHoverBg: darken($sidebarColor, 10%);
    $buttonColor: #111111;
    @if (lightness($sidebarColor) < 50) {
        $buttonBg: lighten($sidebarColor, 5%);
        $buttonHoverBg: lighten($sidebarColor, 10%);
        $buttonColor: #eeeeee;
    }
    #search {
        @if (lightness($sidebarColor) > 50) {
            background-color: lighten($sidebarColor, 10%);
        } @else {
            background-color: darken($sidebarColor, 10%);
        }
        overflow: hidden;
        margin-top: 10px;
        input {
            border: 0;
            float: left;
            vertical-align: middle;
            color: #ffffff;
        }
        #searchfield {
            width: calc(100% - 55px);
            height: 25px;
            padding: 5px 10px;
            background-color: transparent;
        }
        #searchbutton {
            width: 35px;
            height: 35px;
            cursor: pointer;
            border: 0;
            font-size: 20px;
            background-color: $buttonBg;
            color: $buttonColor;
            &:hover {
                background-color: $buttonHoverBg;
            }
        }
    }
    .buttons {
        overflow: hidden;
        margin: 10px 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;

        button, a {
            background-color: $buttonBg;
            color: $buttonColor;
            &:hover {
                background-color: $buttonHoverBg !important;
            }
        }
        > * {
            width: 100%;
            position: relative;
            max-width: 60px;
            display: inline-block;
        }
        form button {
            width: 100%;
        }
    }
    #user form {
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;

        input[type="text"], input[type="password"] {
            @if (lightness($bgcolor) > 50) {
                background-color: lighten($bgcolor, 10%);
                color: #000000;
            } @else {
                background-color: darken($bgcolor, 10%);
                color: #ffffff;
            }
            border: 0;
            margin-bottom: 5px;
            display: block;
            padding: 5px 10px;
            flex-grow: 1;
        }
        > div {
            display: flex;
            width: 100%;
            button {
                flex: 1 1 0%;
                &.transparent {
                    margin-left: 5px;
                    text-align: right;
                    &:hover {
                        color: $highlightColorLight;
                    }
                }
            }
        }
        &#signup {
            display: none;
        }
    }

    .unread-count {
        display: inline-block;
        vertical-align: bottom;
    }
    .button .unread-count {
        position: absolute;
        top: 2px;
        right: 2px;
    }
}
