@media (min-width: 800px) {
    body:not(.no-sidebar), body.sidebar-visible {
        #topbar {
            left: 220px;
        }
    }
}
@media (min-width: 600px) {
    body.sidebar-visible #topbar {
        left: 220px;
    }
}

#topbar {
    display: flex;
    height: $topMenuHeight;
    line-height: $topMenuHeight;
    overflow: hidden;
    z-index: 1000;
    background-color: $sidebarColor;
    box-shadow: 0 10px 10px -10px darken($sidebarColor, 10%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-size: 20px;
    backface-visibility: hidden;
    transition:
            color $transition,
            background-color $transition;

    button, a {
        text-align: center;
        width: $topMenuHeight;
        font-size: 1em;
        cursor: pointer;
        color: $sidebarLinkColor;
        border: 0;
        padding: 0;
        background-color: transparent;
        height: $topMenuHeight;
        line-height: $topMenuHeight;
        position: relative;
        display: inline-block;
        &:hover {
            background-color: lighten($sidebarColor, 10%);
        }
    }

    .right {
        margin-left: auto;
        display: flex;
        > * {
            border-left: 1px solid lighten($sidebarColor, 10%);
        }
    }

    > button, > a {
        border-right: 1px solid lighten($sidebarColor, 10%);
    }

    .unread-count {
        position: absolute;
        top: 2px;
        right: 2px;
    }

    @media (max-width: 799px) {
        #e-sidebar-toggle {
            display: inline-block;
        }
        #e-sidebar-hide {
            display: none;
        }
    }
}

@media (min-width: 800px) {
    body:not(.no-sidebar) #topbar #e-sidebar-toggle {
        display: none;
    }
}
body.no-sidebar:not(.sidebar-visible) #topbar #e-sidebar-hide {
    display: none;
}

#e-sidebar-hide {
    font-family: icomoon;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    color: darken($sidebarLinkColor, 20%);
    top: 50%;
    position: absolute;
    left: 0;
    display: block;
    font-size: 10px;
    width: $topMenuHeight;
    height: $topMenuHeight;
    line-height: $topMenuHeight;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
    padding: 5px 1px 5px 0;
    transform: translateY(-50%);
    &:before {
        content: "\e93c";
    }
    body:not(.no-sidebar) &:before {
        content: "\e93b";
    }
}

#e-sidebar-toggle {
    text-align: center;
    color: $sidebarLinkColor;
    padding-right: 10px;
    span {
        font-size: 20px;
        width: $topMenuHeight;
        line-height: $topMenuHeight;
        display: inline-block;
        vertical-align: top;
    }
}
